<!DOCTYPE html>
<html lang="en" ng-app="appName">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lights Out - A Virtual Sleeping Environment !</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link href="css/profile-ss.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="controllers/app_controller.js"></script>
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.css" rel="stylesheet">
</head>

<body class="nav-md" ng-controller="preferenceController">
    <div class="container body">
        <div class="">
            <div class="col-md-3 left_col" style="margin-top: 60px;">
                <div class="left_col scroll-view">
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Akshay Bhole</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="z-index: -1;">
                        <div class="menu_section">
                            <!--<h5>&nbsp;</h5>-->
                            <br>
                            <br>
                            <br>
                            <ul class="nav side-menu">
                                <li><a href="UI.html"><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li><a><i class="fa fa-edit"></i> Device Status </a>
                                </li>
                                <li><a><i class="fa fa-user"></i> Profile </span></a>
                                </li>
                                <li><a><i class="fa fa-wrench"></i>Preferences</a>
                                </li>
                                <li><a href="analysis.html"><i class="fa fa-bar-chart-o"></i> Analysis </a>
                                </li>
                                <li><a><i class="fa fa-info"></i>Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <div class="top_nav">
                <div class="navcustomcontainerfluid">
                    <div class="row" style="z-index: 1;">
                        <div class="nav_menu">
                            <nav>
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="images/img.jpg" alt="">Akshay Bhole
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- container closed -->
            </div>
            <!-- top navigation -->
            <!-- /top navigation -->
            <div class="right_col" role="main" style="margin-top: -10px; background-color: #E0E0E0">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Profile</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin-left: 0px;
    margin-right: 0px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card" style="padding: 0px;">
                                <!-- Profile CARD: Utkarsh Patil -->
                                <div class="card-block custom-box-shadow" id="bg-card">
                                    <div class="row" style="margin-left: 0px;
    margin-right: 0px;">
                                        <div id="profile-info" class="col-md-3 col-sm-3 col-xs-12 ">
                                            <div id="profile-pic">
                                                <div id="crop-avatar">
                                                    <!-- Current avatar -->
                                                    <img class="img-responsive avatar-view" src="images/profile.jpg" alt="Avatar" title="Change the avatar">
                                                </div>
                                            </div>
                                            <div id="profile-data">
                                                <h3>Utkarsh Patil</h3>
                                                <ul class="list-unstyled user_data">
                                                    <li><i class="fa fa-map-marker user-profile-icon"></i> Pune, Maharashtra, India
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-briefcase user-profile-icon"></i> UI Developer
                                                    </li>
                                                    <li class="m-top-xs">
                                                        <i class="fa fa-external-link user-profile-icon"></i>
                                                        <a href="https://www.facebook.com/imutkarshpatil" target="_blank">Find me on Facebook</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="profile-show" class="col-md-9 col-sm-9 col-xs-12 p-wrapper">
                                            <a class="hiddenanchor" id="prof-edit"></a>
                                            <a class="hiddenanchor" id="prof-show"></a>
                                                <div class="animate form profview">
                                                   <!--  <div class="card logincardcustom">     </div> -->
                                                    <form>
                                                     <a href="#prof-edit">Edit</a>
                                                    </form>
                                                </div>

                                                <div class="animate form profedit">
                                                   <!--  <div class="card logincardcustom">     </div> -->
                                                   <form>
                                                     <a href="#prof-show">Save</a>
                                                    </form>
                                                </div>

                                                <!-- <div class="animate form form-signup">
                                                    <div class="card signupcardcustom">
                                                        <section class="login_content" ng-controller="signupController">
                                                            <form>
                                                                <p>
                                                                    <h1 class="brandMessage">Light's Out!</h1></p>
                                                                <p>
                                                                    <h4 class="taglineMessage"> A Virtual Sleeping Environment.</h4></p>
                                                                <input type="text" class="inputcustom" placeholder="Username" required="" ng-model="username" />
                                                                <span style="color : red" ng-show="error_invalid_username">{{error_invalid_username}}</span>
                                                                <input type="email" class="inputcustom" placeholder="Email" required="" ng-model="email" />
                                                                <input type="password" class="inputcustom" placeholder="Password" required="" ng-model="password" />
                                                                <input class="inputcustom" type="number" placeholder="Your Age in Years"="" ng-model="age">
                                                                <input class="inputcustom" type="text" placeholder="City" ng-model="city">
                                                                <button class="buttoncustom" href="" ng-click="call()">Sign Up</button>
                                                                <p class="message">Already a member ?
                                                                    <a href="#signin"> Log in </a>
                                                                </p>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /Profile CARD: Utkarsh Patil -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Chart.js -->
        <script src="js/Chart.min.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="js/custom.min.js"></script>
        <!-- iCheck -->
        <script src="../vendors/iCheck/icheck.min.js"></script>
</body>

</html>
